body,
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px #000;
  padding: 0.2rem 8rem;
}

nav > img {
  height: 3rem;
}

nav > input {
  padding: 0.5rem;
  width: 30vw;
  border-radius: 5px;
  background-color: #2e2e77;
  border: none;
  color: aliceblue;
}

nav > button > img {
  /* width: 20vw; */
  height: 3rem;
  border-radius: 99999px;
}

nav > button {
  border-radius: 99999px;
  padding: 0;
  border: none;
}

main {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 1rem;
}

section.posts {
  background-color: red;
}

section.follow {
  background-color: cyan;
}
